* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --product-page-size: 600px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background: rgba(236, 164, 164, 0.3);
}

.navbar-elements {
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar-content {
  width: 70%;
  height: 100%;
}

.logo {
  align-self: center;
}

a {
  text-decoration: none;
  color: purple;
}

.popup-cart {
  color: white;
  top: 88px;
  position: absolute;
  display: none;
  width: 400px;
  height: 700px;
  background-color: rgba(0, 0, 0, 1);
  flex-flow: column nowrap;
  overflow: auto;
  align-items: center;
}

.cartpopup-traingle {
  top: 60px;
  position: absolute;
  align-self: center;
  display: none;
  justify-content: center;
  align-items: center;
  border-bottom: 28px rgba(0, 0, 0, 1) solid;
  border-right: 28px transparent solid;
  border-left: 28px transparent solid;
  width: 0;
  height: 0;
}

.popupcart-listitem {
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  width: 390px;
  margin: 8px 4px;
}

.popupcart-buttons {
  display: block;
  height: 20px;
  width: 30px;
}

.popup-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.popupcart-parent {
  /* display: flex;
  flex-flow: column nowrap;
  align-items: center; */
}

.cart-total {
  display: flex;
  justify-content: flex-end;
}

.popupcart-image {
  width: 100px;
  height: 100px;
}

.popup-cart-imagecontainer {
  width: 100px;
  height: 100px;
}

.checkout-paybutton {
  display: flex;
  justify-content: center;
  position: relative;
}

.popup-buttoncontainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.test {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.productpage-totalcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 24px;
}

.productpage-imagecontainer {
  border: 3px solid black;
}

.productpage-image {
  width: var(--product-page-size);
  height: 700px;
}

.productpage-infocontainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: var(--product-page-size);
  height: 700px;
}

.productpage-name {
  font-size: 64px;
  text-align: center;
  text-decoration: underline;
}

.productpage-desc {
  font-size: 28px;
  align-self: flex-start;
}

.productpage-cartQ {
  width: inherit;
  height: 50px;
}

.quantity-container {
  display: flex;
}

.quantity-holder {
  width: inherit;
  display: flex;
}
.quantity-holder-number {
  width: 50%;
  text-align: center;
  border: 2px black solid;
  border-radius: 7%;
}

.quantity-holder-display {
  text-align: center;
}

.quantity-holder-display:hover {
  cursor: pointer;
}

.quantity-holder-buttons {
  width: 25%;
}

.shop-totalcontainer {
  display: flex;
  flex-flow: row nowrap;
  height: inherit;
}

.total-categorycontainer {
  margin: 16px;
  display: flex;
  flex-flow: column nowrap;
  width: 33%;
  height: 100%;
  align-items: center;
  border: 1px black solid;
}

.category-container {
  margin: 8px;
  border: 1px solid black;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 50px;
}

.category-container:hover {
  background: blue;
}

.active-category {
  background: rgba(0, 0, 0, 0.3);
}

.shop-totalitemcontainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.shop-itemcontainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin: 8px;
}

.shop-imagecontainer {
  margin-top: 8px;
  border: 1px black solid;
  width: 340px;
  height: 290px;
}

.checkout-button {
  font-size: 28px;
  height: 100px;
  width: 390px;
  margin: 8px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
}

.checkout-button:hover {
  cursor: pointer;
}
