* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background: rgb(236, 164, 164);
}

.navbar-elements {
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar-content {
  width: 30%;
  height: 100%;
}

.logo {
  align-self: center;
}

a {
  text-decoration: none;
  color: purple;
}

.category-container {
  width: 50px;
  height: 50px;
}

.category-container:hover {
  background: blue;
}

.active-category {
  background: rgba(0, 0, 0, 0.3);
}

.popup-cart {
  position: absolute;
  display: none;
  width: 400px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  flex-flow: column nowrap;
  overflow: auto;
  margin-top: 32px;
}

.popupcart-listitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.popupcart-buttons {
  display: block;
  height: 20px;
  width: 30px;
}

.popupcart-parent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
