@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 28px;
  font-weight: 300px;
}
:root {
  --product-page-size: 600px;
}

body {
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background: rgba(236, 164, 164, 1);
}

.navbar-elements {
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar-content {
  width: 70%;
  height: 100%;
}

.logo {
  align-self: center;
}

a {
  text-decoration: none;
  color: purple;
}

.popup-cart {
  color: purple;
  top: 88px;
  position: absolute;
  display: none;
  width: 300px;
  height: 600px;
  background-color: rgba(236, 164, 164, 0.3);
  flex-flow: column nowrap;
  overflow: auto;
  align-items: center;
}

.cartpopup-traingle {
  top: 60px;
  position: absolute;
  align-self: center;
  display: none;
  justify-content: center;
  align-items: center;
  border-bottom: 28px rgba(236, 164, 164, 0.3) solid;
  border-right: 28px transparent solid;
  border-left: 28px transparent solid;
  width: 0;
  height: 0;
}

.popupcart-listitem {
  background: rgba(236, 164, 164, 0.9);
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  width: 290px;
  margin: 8px 4px;
}

.popupcart-buttons {
  font-size: 12px;
  display: block;
  height: 20px;
  width: 30px;
}

.popup-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

li.popupcart-parent:hover {
  cursor: pointer;
}

.popupcart-image {
  width: 100px;
  height: 100px;
}

.popup-cart-imagecontainer {
  width: 100px;
  height: 100px;
}

.popupcart-listitem-namecontainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.popupcart-listitem-name {
  font-size: 22px;
  font-weight: 700;
}

.popupcart-listitem-splice {
  margin-top: 16px;
  width: 100%;
  height: 4%;
  font-size: 10px;
}

.popup-buttoncontainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.test {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.test:hover {
  cursor: pointer;
}

.productpage-totalcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 24px;
}

.productpage-imagecontainer {
  border: 3px solid black;
}

.productpage-image {
  width: var(--product-page-size);
  height: 700px;
}

.productpage-infocontainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: var(--product-page-size);
  height: 700px;
}

.productpage-name {
  font-size: 56px;
  text-align: center;
  text-decoration: underline;
}

.productpage-desc {
  font-size: 28px;
  align-self: flex-start;
}

.productpage-cartQ {
  background: rgba(236, 164, 164, 0.9);
  width: inherit;
}

.quantity-container {
  display: flex;
  height: 100%;
}

.quantity-holder {
  height: inherit;
  width: inherit;
  display: flex;
}

.popup-cartquant {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 13%;
  top: 1%;
  background: black;
  color: white;
  border-radius: 50%;
}

.quantity-holder-number {
  color: purple;
  background: rgba(236, 164, 164, 0.9);
  width: 50%;
  text-align: center;
  border: 2px black solid;
  height: inherit;
}

.quantity-holder-buttons:hover {
  cursor: pointer;
}

.quantity-holder-display,
.quantity-holder-total {
  font-size: 24px;
  color: purple;
  background: rgba(236, 164, 164, 0.9);
  font-size: 20px;
  width: 100%;
  height: 10%;
  text-align: center;
}

.quantity-holder-total {
  height: 10%;
}

.quantity-holder-display:hover {
  cursor: pointer;
}

.quantity-holder-buttons {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: none;
  border-bottom: none;
  background: none;
  width: 25%;
}

.quantity-holder-cart {
  text-align: center;
  font-size: 24px;
}

.shop-totalcontainer {
  display: flex;
  flex-flow: row nowrap;
  height: inherit;
}

.total-categorycontainer {
  margin: 16px;
  display: flex;
  flex-flow: column nowrap;
  width: 33%;
  height: 100%;
  align-items: center;
  border: 1px black solid;
}

.category-container {
  background: rgba(200, 200, 200, 1);
  margin: 8px;
  border: 1px solid black;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 50px;
}

.category-container:hover {
  background: rgba(236, 164, 164, 0.7);
}

.active-category {
  background: rgba(236, 164, 164, 0.9);
}

.shop-totalitemcontainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.shop-itemcontainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 410px;
  border: 1px solid black;
  margin: 8px;
  background: rgba(200, 200, 200, 1);
}

.shop-imagecontainer {
  width: 170px;
  height: 210px;
  margin-top: 4px;
}

.shop-image {
  border: 1px black solid;
  width: 170px;
  height: 410x;
}

.shop-background {
  background: white;
}
.shop-itemname {
  font-size: 38px;
  font-weight: 700;
  text-decoration: rgb(107, 1, 107) underline;
}
.shop-itemprice {
  font-size: 20px;
}

.checkout-button {
  font-size: 28px;
  height: 100px;
  width: 290px;
  margin: 8px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  text-align: center;
  background: rgba(236, 164, 164, 1);
}

.checkout-button:hover {
  cursor: pointer;
}

.checkout-totalcontainer {
  background: rgba(236, 164, 164, 0.3);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.checkout-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-image {
  width: 200px;
  height: 200px;
}

.checkout-imagecontainer,
.checkout-name,
.checkout-quant,
.checkout-price,
.checkout-totalprice {
}

.checkout-imagecontainer {
  margin: 8px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-totaldiv {
  height: 100%;
  width: 100%;
}

.checkout-paybutton {
  display: flex;
  text-align: center;
  justify-content: center;
}

.cart-total {
  align-self: flex-end;
}

.checkout-end {
  display: flex;
  flex-flow: column nowrap;
  width: inherit;
  align-items: center;
  justify-content: center;
}

.home-background {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: rgba(236, 164, 164, 1);
  font-size: 56px;
  background-image: url("https://thumbs.gfycat.com/GiddyPopularBluewhale-size_restricted.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: inherit;
  min-height: 800px;
}
